# Default to requesting pull request reviews from the Heroku Languages team.
#ECCN:Open Source
#GUSINFO:Languages,Heroku .NET Platform
* @heroku/languages

# Except for automation that:
# - updates binary inventories
# - updates project dependencies
# - prepares releases
# Only .NET language owners should be the requested reviewers here
CHANGELOG.md @runesoerensen
inventory.toml @runesoerensen
Cargo.toml @runesoerensen
Cargo.lock @runesoerensen
buildpack.toml @runesoerensen
/.github/workflows/ @runesoerensen
